@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #3d64e6;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background: #fff;
    padding: 50px 20px;
    display: flex;
    width: 90vmin;
    max-width: 37.5em;
    border-radius: 0.62em;
    box-shadow: 0px 1.25em 1.8em rgba(8, 21, 65, 0.25);
    flex-direction: column;
}

.input-container{
    display: flex;
    width: 100%;    
}

.input-container #searchBtn{
    font-size: 1em;
    background: #3d64e6;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px 0px;
    border-radius: 1.5em;
    cursor: pointer;
    width: 125px;
}

input{
    border: none;
    border-bottom: 2px solid #3d64e6;
    outline: none;
    font-size: 16px;
    padding: 0 0.62em;
    color: #222a43;
    flex: 1;
    margin-right: 25px;
}

#result{
    margin-top: 20px;
    width: 100%;
}
.flagBox{
    width: 100%;
    display: flex;
    justify-content: center;
}
.flag{
    width: 220px;
}

.container h2{
    text-align: center;
    margin: 15px auto 40px auto;
    text-transform: uppercase;
}

.container h4{
    font-weight: 500;
    display: inline;

}

.container span{
    color: #5d6274;
}

.container h3 {
    text-align: center;
    margin-top: 25px;
}

.loading {
    display: none;
    text-align: center;
    padding: 20px;
    /* background-color: #f0f0f0; */
    /* border: 1px solid #ccc; */
}

